body {
    background: #000;
    color: white;
    overflow: hidden;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center; /* Center vertically */
    padding: 20px; /* Add some padding */
    position: relative; /* Set position to relative to position absolute elements */
}

#stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
}

/* Button Styles */
a {
    text-decoration: none;
    position: absolute; /* Position it absolutely */
    top: 20px; /* Distance from the top */
    right: 20px; /* Distance from the right */
    background-color: #292929; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove default border */
    padding: 10px 20px; /* Button padding */
    font-size: 1rem; /* Button font size */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
}

a:hover {
    background-color: #000000; /* Darker blue on hover */
}

.container {
    display: flex; /* Use flexbox for alignment */
    width: 100%;
}

.astronaut {
    height: 90vh; /* Image height */
    margin-right: 20px;
    animation: float 3s ease-in-out infinite; /* Floating animation */
}

.content {
    text-align: left; /* Align text to the left */
}

h1 {
    margin-top: 20vh;
    font-size: 3rem; 
    margin-bottom: 20px; 
}

p {
    font-size: 1.2rem; 
    margin: 0 0 20px; 
    line-height: 1.5; 
}

/* Footer Styles */
footer {
    position: absolute; 
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%); 
    font-size: 0.9rem; 
}

/* Animation Keyframes */
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Star Animation */
#stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
}

#stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
}

@keyframes animStar {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-135rem);
    }
}

@keyframes animStarRotate {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0);
    }
}

/* Button Gradient Styles */
.btn {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}

@keyframes gradient_301 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

